extends layout

block content
    div.container-fluid.col-md-6
        .alert.alert-info
            h1(style="text-align: center") OFFICIAL TASK LIST 
            br
            form(method="get", action="/addtasks")
                button.btn.btn-success.pull-right(type="submit") ADD A NEW TASK NOW
            br
            br
            .alert.alert-warning
                table.table.table-bordered.table-light
                    thead.thead-dark
                        tr
                            th(scope='col') Task
                            th(scope='col') Description
                            th(scope='col') Completed
                            th(scope='col') Assigned
                            th(scope='col') Delete ?
                    tbody
                        for task, i in tasks
                            tr
                                td
                                    a(for task, i in tasks, href="/tasks/#{task._id}")= task.task 
                                td= task.desc
                                td= task.comp
                                td= task.ass
                                td
                                    form(method="delete", action="/deletetask/#{task._id}")
                                        button.btn.btn-danger(type="submit") Delete Me
                        else
                            tr 
                                td sorry no tasks
            form(method="get", action="/")
                button.btn.btn-warning(type="submit") HOME