extends layout

block content
  div.container-fluid.col-md-6
    .alert.alert-info
      h1(style='text-align: center')= title     
      .container-fluid

          .form-area.alert-warning
            form#formUpdateTasks(name="updateTask",method="",action="/updateTask/#{thisTask._id}")
              br(style='clear:both')
              h3(style='margin-bottom: 25px; text-align: center;') Update Task Form
              .form-group
                input#inputTaskId.form-control(hidden='true', name='_id', value='#{thisTask._id}', disabled="true")
              .form-group
                input#inputTaskName.form-control(type='text', name='task', placeholder='#{thisTask.task}', required='')
              .form-group
                input#inputTaskDesc.form-control(type='text', name='desc', placeholder='#{thisTask.desc}', required='')
              .form-group
                input#inputTaskCom.form-control(type='text', name='comp', placeholder='#{thisTask.comp}', required='')
              .form-group
                input#inputTaskAss.form-control(type='text', name='ass', placeholder='#{thisTask.ass}', required='')
              button#submit.btn.btn-primary.pull-right(type='submit', name='updateTask') Update Task
              button.btn.btn-primary.pull-left() 
                  a(style="color: #ffffff" href="/") CANCEL